@model IEnumerable<Project_63131920.Context.Product>

@{
    ViewBag.Title = "Quản lý sản phẩm";
    var grid = new WebGrid(Model, canPage: true, defaultSort: "id", rowsPerPage: 15);
}

<html>
<head>
    <style type="text/css">
        .grid-footer {
            color: #000;
            font-size: 15px;
            font-family: Arial, Helvetica, sans-serif;
            text-align: center;
            font-weight: bold;
        }

            .grid-footer a{
                color: #ccc;
                background-color: #ffffff;
                padding: 5px 10px;
            }

                .grid-footer a:active, a:hover {
                    color: #009CFF;
                }

        .alternatingRowStyle {
            background-color: aliceblue;
        }

        table .table1 {
            text-align: left;
            margin-left: 0px;
            margin-right: 0px;
            width: 800px;
        }

        .tr, .td {
            text-align: left;
        }

        a {
            text-decoration: none
        }

        .link_detail {
            color: #757575;
        }

        .link_detail:hover {
            color: var(--primary);
        }
    </style>
</head>
<body>

    <div>
        @using (Html.BeginForm("Index", "Products_63131920", FormMethod.Get))
        {
            @Html.AntiForgeryToken();
        }
    </div>
    <h3 class="text-center mt-3">Quản lý sản phẩm</h3>
    <div class="row" style="margin-left: 1rem; margin-right:1rem">
        @Html.ActionLink("Tạo mới", "/Create", "Products_63131920", null, new { @class = "btn btn-outline-info col-md-1" })
        <form class="d-none d-md-flex ms-4 col-md-4">
            <input class="form-control border-2 style-place" name="name_search" type="search" placeholder="Nhập tên sản phẩm để tìm kiếm" >
        </form>
    </div>
    <div id="gridContent" class="p-4">
        @grid.GetHtml(
             tableStyle: "table table table-hover",
             footerStyle: "grid-footer",
             fillEmptyRows: true,
             mode: WebGridPagerModes.Numeric,
             //alternatingRowStyle: "alternatingRowStyle",
             columns: new[]  // colums in grid
             {
                grid.Column("STT",format: item => item.WebGrid.Rows.IndexOf(item) + 1 + Math.Round(Convert.ToDouble(grid.TotalRowCount / grid.PageCount) / grid.RowsPerPage) * grid.RowsPerPage * grid.PageIndex),
                grid.Column("Tên sản phẩm", format: (item) => new HtmlString($"<a class='link_detail' title='Xem chi tiết' href='/Admin/Products_63131920/Details/{item.id}'>{item.product_name}</a>")),
                //grid.Column("product_name","Tên sản phẩm"),
                grid.Column("price","Giá", @<span> @item.price.ToString("#,##0")</span>),
                grid.Column("qty_in_stock","Số lượng"),
                grid.Column("product_image","Ảnh sản phẩm"),
                grid.Column("Category.name", "Phân loại"),
                grid.Column("Thao tác", format: (item) => new HtmlString(
                    $"<div>" +
                    $"{Html.ActionLink("Sửa", "/Edit", "Products_63131920", new { id = item.id }, htmlAttributes: new { @class = "btn btn-success m-2 inline" })}" +
                    $"{Html.ActionLink("Xóa", "Delete", "Products_63131920", new { id = item.id }, new { @class = "btn btn-danger m-2 inline", onclick = "return confirm('Bạn có chắc chắn muốn xóa?');" })}" +
                    $"</div>"
                    ))
             }

        )
    </div>
</body>
</html>
