
@{
    ViewBag.Title = "Giới thiệu";
}

<section class="section-pagetop bg-light">
    <div class="container">
        <h2 class="title-page">Giới thiệu</h2>
    </div> <!-- container .// -->
</section>


<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-content bg-white padding-y">
    <div class="container">

        <h3 class="card-title"><h1>MANDO XIN CHÀO CÁC CẬU!</h1></h3>
        <p>
            MANDO là thương hiệu thời trang nam dành cho giới trẻ theo phong cách Hàn Quốc. Được thành lập tới nay được 6 năm
            , MANDO đã và đang dần trở thành một người bạn gần gũi, tin cậy và đầy mới mẻ của giới trẻ Việt trong câu chuyện ăn mặc,
            với Fanpage Facebook đạt gần 450.000 lượt thích, group fan cứng hơn 18.000 thành viên, kênh Tiktok gần 250.000 lượt folllow.
        </p>
        <p>
            MANDO mang đến những bộ trang phục cho khách hàng trẻ có lối sống năng động, hiện đại, thích trải nghiệm, lạc quan từ bên trong tâm hồn, phong cách sống lẫn gu ăn mặc. Khi mặc những sản phẩm của MANDO, quan trọng nhất là các cậu vui vẻ, thoải mái được là chính mình theo đuổi những điều mình mong muốn.
        </p>

        <div class="row">
            <img class="col-md-6" src="~/Assets/images/commom/intro1.webp" />
            <img class="col-md-6" src="~/Assets/images/commom/intro3.webp" />
        </div>

        <div class="row mt-5">
            <div class="col-md-6">
                <h4>MANDO nổi bật với:</h4>
                <p>1. Sự đa dạng: Với đầy đủ các sản phẩm từ quần áo tới các loại phụ kiện từ đầu đến chân, với nhiều dòng sản phẩm đáp ứng được cả nhu cầu đi học, đi chơi, đi làm.</p>
                <p>2. Sự mới mẻ: MANDO ra mắt các Bộ sưu tập sản phẩm mới liên tục trong tháng. </p>
                <p>3. Giá cả hợp lý với chất lượng, phù hợp cho các bạn học sinh, sinh viên.</p>

            </div> <!-- col.// -->
            <div class="col-md-6">
                <h4>Cam kết mua hàng tại mando</h4>
                <p>Giao hàng nhanh chóng, nhận hàng được kiểm tra hàng trước khi thanh toán</p>
                <p>Hỗ trợ đổi hàng trong 7 ngày</p>
                <p>Giao hàng nhanh chóng, nhận hàng được kiểm tra hàng trước khi thanh toán</p>
                <p>Có hình ảnh thật 100% giống mô tả&nbsp;</p>
                <p>Đặt hàng nhanh chóng, tư vấn nhiệt tình&nbsp;</p>
            </div> <!-- col.// -->
        </div> <!-- row.// -->
        <img src="~/Assets/images/commom/intro2.webp" />
        <br><br>

        <a href="#" class="btn btn-light" onclick="goBack()"> &laquo Quay về</a>
        <script>
            function goBack() {
                window.history.back();
            }
        </script>

    </div> <!-- container .//  -->
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->
